<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 2: Start here... %>
<%= form_tag movies_path, method: :get,autocomplete: :off, id: 'ratings_form' do %>
  Include:
  <% if @all_ratings!=nil%>
  <% @all_ratings.each do |rating| %>
    <div class="form-check  form-check-inline" >
      <%= label_tag "ratings[#{rating}]", rating, class: 'form-check-label' %>
      <%= check_box_tag "ratings[#{rating}]", "1",  @ratings_to_show.include?(rating),  class: 'form-check-input' %>
    </div>
   
  <% end %>
  <%= hidden_field_tag :click_button, 1 %>
  <%= submit_tag 'Refresh', id: 'ratings_submit', class: 'btn btn-primary' %>
<% end %>
<%end%>
<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th id="title_header" class="<%= 'hilite bg-warning' if @sort_order == "title"%>"> <%= link_to "Movie Title",movies_path(:sort_by => 'title',:ratings=>@filtered_ratings)  %> </th>
      <th>Rating</th>
      <th id="release_date_header" class="<%= 'hilite bg-warning' if @sort_order == "release_date"%>"> <%= link_to "Release Date",movies_path(:sort_by => 'release_date',:ratings=>@filtered_ratings)  %> </th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <%if @movies != nil%>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
     
    <% end %>
  </tbody>
</table>
 <%end%>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>

